body, html {
  width: 100%;
  height: 100%;
  text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
  font-family: Play;
  background-color: #333;
}

* {
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

/*-----------------HOMEPAGE - MAIN IMAGE AND TITLE------------*/
.hero {
  position: relative;
  background: black url('./images/ourhero.png') top center no-repeat;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('./images/ourhero.png');
  background-size: cover;
  overflow: auto;
  height: 90vh;
  width: 100%;
}

/*homepage title*/
.title {
  font-size: 8em;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
}

/*homepage text*/
.hero-text {
  font-size: 1.5vw;
  color: white;
  text-align: center;
}

/*homepage gameplay/challenge buttons*/
.btn {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}



/*-------------------------------GAME PAGE MAP DIVS---------------------------*/
#pano{
/*  height: -webkit-calc(100vh - 50px);
  height:    -moz-calc(100vh - 50px);
  height:         calc(100vh - 50px);*/
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.mapThing{
  width: 100%;
  height: 100%;
  position: relative;
}

map {
  height: calc(100vh - 100px);
  width: 100%;
}

/*-------GENERAL BUTTONS - GAME PAGE AND CHALLENGE PAGE------*/
.answers, #showanswer{
  z-index: 99;
  width: 100%;
  height: 10%;
  top: 85%;
  position: absolute;
  font-size: 1vw;
  opacity: .75;
  background-color: #333;
  padding: 0px;
}

.answer {
  display: inline-block;
  height: 100%;
  width: 20%;
  margin: auto;
  vertical-align: middle;
}


.optionButton {
  margin: auto;
  padding: auto;
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column; /* column | row */
}

#showanswer {
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  font-size: 100%;
}

#hideanswers {
  visibility: hidden;
  font-size: 6em;
}
@media (max-width: 500px) {
  .answers {
    height: 100%;
    top: 0%;
    visibility: hidden ;

  }
  .answer {
    display: block;
    height: 15%;
    font-size: 3em;
    width: 100%;
  }
  #showanswer {
    visibility: visible;
  }
}

@media (min-width: 500px) {

  .answers {
    visibility: visible !important;
  }

  #showanswer {
    visibility: hidden !important;

  }
  #hideanswers {
    visibility: hidden !important;
  }

}
/*.button {
  background-color: black !important;
  color: gray;
}*/


/*--------TOGGLE-ABLE GAME PAGE DISPLAY OPTIONS--------*/
/*(PRE-GAME INSTRUCTIONS, CORRECT AND INCORRECT POPUPS)*/
 .hidden {
   visibility: hidden;
 }

 .info, .correct, .incorrect, .challengeInfo {
   background-image: url('parachutetransparent.png');
   background-repeat: no-repeat;
   background-position: 10%;
   background-size: 30% 80%;
   font-size: 1.5vw;

 }

 .info {
   padding: 2%;
   margin: auto;
   width: 100%;
   height: 90%;
   z-index: 99;
   position: absolute;
   color: black;
   background-color: rgba(255,255,255,.75);

 }

 .challengeInfo {
   padding: 2%;
   width: 100%;
   height: 100%;
   z-index: 99;
   position: absolute;
   color: black;
   background-color: rgba(255,255,255,.75);
 }

 .correct {
   padding: 2%;
   margin: auto;
   width: 100%;
   height: 100%;
   z-index: 99;
   position: absolute;
   color: black;
   background-color: rgba(255,255,255,.75);
 }

 .incorrect {
   padding: 2%;
   margin: auto;
   width: 100%;
   height: 100%;
   z-index: 99;
   position: absolute;
   color: black;
   background-color: rgba(255,255,255,.75);
 }

 .userInfo {
   /*position: absolute;*/
   margin: auto;
   width: 100%;
   justify-content: center;
   vertical-align: middle;
 }

 .whatever {
  display: inline-flex;
  justify-content:center;
  align-content:center;
  flex-direction:column; /* column | row */
 }

 .userInfo form {
   color: black;
 }

 .userInfo input {
   color: black;
   border-radius: 15%
 }





 /*-------------------------CHALLENGE PAGE MAP DIVS---------------------------*/

.smallmap, #streetview {
  display:inline-block;
  width:50%;
  height: 100%;
  margin: auto;
  padding: 0px;
  border: 0px;
  border-radius: 10px;
}

.smallmap {
  float: left;
}

#streetview {
  float: right;
}

.input-transparent {
  margin: 0px;
  opacity: .7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.mapcontainer {
  height: 90vh;
  width: 100%;
  margin: 0px;
  padding-left: 4px;
  padding-right: 2px;
  padding-bottom: 0px;
  border: 0px;
}

.searchbar {
  position: absolute;
  bottom: 0%;
  left: 34%;
  width: 40%;
  transform: translate(-75%, -50%);
}

/*----------------ADD A CITY POPUP-------------*/

.poiInput, .poiInfo {
  display: inline-block;
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;

}

#poi, #city {
  display: inline-block;
  width: 30%;
  height: 20px;
  margin: 10px;
}

.dissapear {
  display: none;
}
.appear {
  display: block;
}


/*--------------LINK CREATION POPUP----------*/
#generatelinkpanel, .displayLink {
  padding-bottom: 30px;
  background-color: #222;
  border-color: #080808;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}

#generatelinkpanelheading {
  padding-bottom: 10px;
  background-color: #222;
  border-color: #080808;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
}

#generatelinkpanelheading {
  color: white;
  font-size: 1.3em;
}

#generatelinkpanel {
  position: absolute;
  /*border-radius: 15px;*/
  margin: 30px;
  top: 25%;
  left: 22%;
  /*transform: translate(-75%, -50%);*/
  color: white;
  font-size: 1em;
  z-index: 99;
  padding: 20px;

  text-align: center;
}


.option {
  margin-top: 10px;
  font-size: 1em;
  padding: 20px;
  color: gray;
}

/*this animation is also used to popup display options after shared-link gameplay
  on the game page*/
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.notice {
  font-size: .7em;
}

.danger {
  color: red;
}

.challengedescription {
  font-size: .7em;
}

.displayLink {
  padding: 20px;
  width: 60%;
  left: 20%;
  position: absolute;
  margin: auto;
  z-index: 99;
  top: 30vh;
  height: 140px;
  color: white;
  /*border-radius: 15px;*/
}

.specialtext {
  margin-top: 5px;
  color: lightblue;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }





/*-------------------------------HIGH SCORE PAGE------------------------------*/

.top {
    -webkit-text-fill-color: grey;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

.scores {
  text-align: left;
  background-color: white;
  opacity: .5;
  color: black;
}

.score div {
  display: inline-block;
  /*margin-left: 3%;*/
  font-size: 1em;
  color: white;
}

.container-fluid .row {
    margin-left: 0px;
    margin-right: 0px;
}






/*-------------ICONS-----------*/

#bars {
  color: #999;
}

#fbButton {
  color: #fff;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

#pp {
  width: 35px;
  position: absolute;
  top: 90.4%;
  left: 83.5%;
}

#fbFooter{
  color: white;
  padding: 5%;
}

#twitterFooter{
  color: white;
  padding: 5%;
}
