body, html {
  width: 100%;
  height: 100%;
  text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
  overflow: scroll;
  font-family: Play;
  background-color: #333;
}

#pp {
  width: 35px;
  position: absolute;
  top: 90.4%;
  left: 83.5%;
}

#fbFooter{
  color: white;
  position: absolute;
  top: 91%;
  left: 90%;
}

#twitterFooter{
  color: white;
  position: absolute;
  top: 91%;
  left: 87%;

}

.hero {
  position: relative;
  background: black url('./images/hero.jpg') top center no-repeat;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('./images/hero.jpg');
  background-size: cover;
  overflow: auto;
  height: 90vh;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-75%, -50%);
  color: white;
  text-align: center;
}

.mapThing{
  width: 100%;
  height: 100%;
  position: relative;
}

.btn {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

#pano{
  height: 90vh;
  width: 100%;
  position: relative;
}

.butt {
  bottom: 4%;
  position: absolute;
  z-index: 99;
  background-color: #333;
  width: 100%;
  opacity: .75;
}

.button {
  background-color: black !important;
  color: gray;
}

h1 {
  font-size: 3em;
}

 map {
  height: 90vh;
  width: 100%;
 }

 .hidden {
   visibility: hidden;
 }

 .info {
   padding: 2%;
   margin: auto;
   width: 100%;
   height: 90vh;
   z-index: 99;
   position: absolute;
   color: black;
   background-color: rgba(255,255,255,.75);
 }

 .challengeInfo {
   padding: 2%;
   width: 100%;
   height: 100%;
   z-index: 99;
   position: absolute;
   color: black;
   background-color: rgba(255,255,255,.75);
 }

 .correct {
   padding: 2%;
   margin: auto;
   width: 100%;
   height: 90vh;
   z-index: 99;
   position: absolute;
   color: black;
   background-color: rgba(255,255,255,.75);
 }

 .incorrect {
   padding: 2%;
   margin: auto;
   width: 100%;
   height: 90vh;
   z-index: 99;
   position: absolute;
   color: black;
   background-color: rgba(255,255,255,.75);
 }

.smallmap, #streetview {
  display:inline-block;
  width:50%;
  height: 100%;
  margin: auto;
  padding: 0px;
  border: 0px;
  border-radius: 10px;
}

.smallmap {
  float: left;
}

#streetview {
  float: right;
}

.input-transparent {
  margin: 0px;
  opacity: .7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.mapcontainer {
  /*position: absolute;*/
  height: 90vh;
  width: 100%;
  margin: 0px;
  padding-left: 4px;
  padding-right: 2px;
  padding-bottom: 0px;
  border: 0px;
}

.searchbar {
  position: absolute;
  bottom: 0%;
  left: 34%;
  width: 40%;
  transform: translate(-75%, -50%);
}

.poiInput, .poiInfo {
  display: inline-block;
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;

}

#poi, #city {
  display: inline-block;
  width: 30%;
  height: 20px;
  margin: 10px;
}

.dissapear {
  display: none;
}
.appear {
  display: block;
}

#generatelinkpanel, .displayLink {
  padding-bottom: 30px;
  background-color: #222;
  border-color: #080808;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}

#generatelinkpanelheading {
  padding-bottom: 10px;
  background-color: #222;
  border-color: #080808;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
}

#generatelinkpanelheading {
  color: white;
  font-size: 1.3em;
}

#generatelinkpanel {
  position: absolute;
  /*border-radius: 15px;*/
  margin: 30px;
  top: 25%;
  left: 22%;
  /*transform: translate(-75%, -50%);*/
  color: white;
  font-size: 1em;
  z-index: 99;
  padding: 20px;

  text-align: center;
}

.optionButton {
  margin-top: 2%;
  font-size: 1.5em;
  padding: 20px;
  color: white;
  background-color: #333;
}

.option {
  margin-top: 10px;
  font-size: 1em;
  padding: 20px;
  color: gray;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.notice {
  font-size: .7em;
}

.danger {
  color: red;
}

.challengedescription {
  font-size: .7em;
}

.displayLink {
  padding: 20px;
  width: 60%;
  left: 20%;
  position: absolute;
  margin: auto;
  z-index: 99;
  top: 30vh;
  height: 140px;
  color: white;
  /*border-radius: 15px;*/
}

.specialtext {
  margin-top: 5px;
  color: lightblue;
}

.top {
    -webkit-text-fill-color: grey;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

.scores {
  text-align: left;
  background-color: white;
  opacity: .5;
  color: black;
}

.userInfo {
  position: absolute;
  margin: auto;
  width: 100%;
}

.userInfo form {
  color: black;
}

.userInfo input {
  color: black;
  border-radius: 15%
}

.score div {
  display: inline-block;
  margin-left: 3%;
  font-size: 1em;
  color: white;
}

.score .highscore {
  margin-left: 15%;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/*.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}*/


#bars {
  color: #999;
}

#fbButton {
  color: #fff;
  text-decoration: none;
}
