body, html {
	width: 100%;
	height: 100%;
	text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
	font-family: helvetica neue;
  background-color: #333;
}

.hero {
	background: black url('./images/hero.jpg') top center no-repeat;
	background-image:
	  linear-gradient(
	    rgba(0, 0, 0, 0.5),
	    rgba(0, 0, 0, 0.5)
	  ),
	  url('./images/hero.jpg');
	background-size: cover;
	height: 515px;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
  color: white;
  text-align: center;

}

#pano{
	height: 70vh;
	width: 70vw;
	z-index: 0;
}

.butt {
	display: inline-block;
	margin: .5%;
}

h1 {
	font-size: 3em;
}

h3 {
	margin-top: 0px;
}

 map {
 	margin: auto;
 	width: 85%;
 	height: 32em;
 }

 .hidden {
 	 visibility: hidden;
 }

 .correct {
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	text-align: center;
 	z-index: 10;

 }

.correct h1 {
	margin-top: 10%;
	color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;


}

 .incorrect {
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	text-align: center;
 	z-index: 10;
 }

.incorrect h1 {
    margin-top: 10%;
	color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}



#googleMap {
  height: 100%;
  width: 100%;
}

.smallmap, #streetview {
  display:inline-block;
  width:50%;
  height: 100%;
  margin: auto;
  padding: 0px;
  border: 0px;
  float: left;
  border-radius: 10px;

}


.input-transparent {
  margin: 0px;
  opacity: .7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.mapcontainer {
  height: 300px;
  width: 100%;
  margin: 0px;
  padding-left: 4px;
  padding-right: 2px;
  padding-bottom: 0px;
  border: 0px;
}

.searchbar {
  position: relative;
  top: -50px;
  left: 5%;
  width: 40%;
}



.no-margin {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.whatever {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.poiInput, .poiInfo {
  display: inline-block;
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;

}

#poi, #city {
  display: inline-block;
  width: 30%;
  height: 20px;
  margin: 10px;
}

.dissapear {
  display: none;
}
.appear {
  display: block;
}

#generatelinkpanelheading, #generatelinkpanel, .displayLink {
  padding-bottom: 30px;
  background-color: #222;
  border-color: #080808;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}
#generatelinkpanelheading {
  color: white;
  font-size: 1.3em;
}

#generatelinkpanel {
  border-radius: 15px;
  margin: 10px;
  color: white;
  font-size: 1em;
  position: relative;
  top: -250px;
  z-index: 99;
  padding-top: 20px;
}


.option {
	margin-top: 10px;
	font-size: 1.5em;
	padding: 20px;
	border: 1px solid white;
	border-radius: 15px;
	color: gray;
}



.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.notice {
  font-size: .7em;
}

.danger {
  color: red;
}

.challengedescription {
  font-size: .7em;
}

.noheight {
  height: 0px;
}

.displayLink {
  padding: 20px;
  width: 60%;
  left: 20%;
  position: absolute;
  margin: auto;
  z-index: 99;
  top: 30vh;
  height: 140px;
  color: white;
  border-radius: 15px;
}

.specialtext {
  margin-top: 5px;
  color: lightblue;
}



.top {
  margin-left: 5%;
  text-align: left;
  color: black;
    -webkit-text-fill-color: grey;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
  font-size: 500%
}

.scores h3{
  margin-left: 10%;
  text-align: left;
  color: black;
    -webkit-text-fill-color: grey;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  font-size: 300%;
}

.userInfo {
  position: absolute;
  text-align: right;
  z-index: 10;
  margin: 0 25% 5px 25%;
  width: 60%;

}

.userInfo form {
  font-size: 1.3em
}

.userInfo input {
  border-radius: 15%
}



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
