<div ng-controller="addToDatabaseController">
    <div class="mapcontainer">
      <map class="smallmap" ng-click="updateInfo()" center="39.56951192473842,-97.65442098692967"> 
          <street-view-panorama
            container="streetview"
            ng-click="updateInfo()">
          </street-view-panorama>
      </map>
      <div id="streetview"></div><br>
      <form ng-submit=updateToPlace(place) class="searchbar">
          <input places-auto-complete ng-model="place" class="form-control input-transparent">
      </form>
    </div>
  <div class="fade-in appear" id="generatelinkpanelheading" ng-class="{'appear': !appear, 'dissapear': appear, 'fade-in': appear}">
  Find a rad location?  Think your friends can figure it out?<br>
  <a ng-click="appear = !appear; updateInfo()">Challenge them!</a>
  </div>
  <div class="generatelinkpanel fade-in dissapear" ng-class="{'appear': appear, 'dissapear': !appear, 'fade-in': appear}">
  <form>
  <span>We just need a bit more information to keep our database looking pretty!</span><br>
    <span>Point of Interest:  </span><span><input ng-model="locationObj.poi" class="form-control" id="poi"></span>
    <span>City Name:  </span> <span><input ng-model="locationObj.city" class="form-control" id="city"></span><br>
    <span class="notice">We tried our best to perform magic and fill out these values, but please correct them if they are wrong! :)</span><br>
    <button class="btn-success" ng-click="updateInfo()">I'm ready, give me a link!</button>
    <button class="btn-danger" ng-click="appear=!appear">Nevermind, I'm not ready for this</button>
  </form>
  </div>
  
   <!--      </form>
            <button ng-click="addToDatabase()">Add To Database</button>
            
        Point of Interest: <br>
        City: <input ng-model="locationObj.city" class="form-control">
            </div>
        State: <input ng-model="locationObj.state">
        Country: <input ng-model="locationObj.country"><br>
        Latitude: <input ng-model="locationObj.lat">
        Longitute: <input ng-model="locationObj.lng">
        Heading: <input ng-model="locationObj.heading"><br>
        Pitch: <input ng-model="locationObj.pitch"><br>

        </form>

        <form>
        </form>
        
</div>

 -->
