<div ng-controller = "addToDatabaseController">
    <input places-auto-complete types=['geocode'] ng-model="place">
    <button ng-click="updateToPlace(place)">Search</button><br>
    <map ng-click="updateInfo()" center="39.56951192473842,-97.65442098692967"> 
    <street-view-panorama
      container="streetview"
      ng-click="updateInfo()">
    </street-view-panorama>
    </map>
    <div id="streetview"></div><br>
    <button ng-click="addToDatabase()">Add To Database</button>
    <button ng-click="updateInfo()">Generate Info</button>
    <form>
    Point of Interest: <input ng-model="locationObj.poi"><br>
    City: <input ng-model="locationObj.city">
    State: <input ng-model="locationObj.state">
    Country: <input ng-model="locationObj.country"><br>
    Latitude: <input ng-model="locationObj.lat">
    Longitute: <input ng-model="locationObj.lng">
    Heading: <input ng-model="locationObj.heading"><br>
    Pitch: <input ng-model="locationObj.pitch"><br>
    </form>
    
</div>














<!-- 
<style>
  ng-map, #streetview {display:inline-block !important;width:40%;height: 300px}
</style>

<div ng-controller = "addToDatabaseController">

    <ng-map zoom="18" center="[40.688738,-74.043871]"
            default-style="false"
            map-type-id="MapTypeId.SATELLITE" tilt="45">

        <street-view-panorama container="streetview">
        </street-view-panorama>


    </ng-map>
        <div id="streetview"></div> 

</div> -->














