  <div ng-controller="challengeController" class="mapcontainer">
    <div class='challengeInfo' ng-show="infoToggle">
        <h1>Explore the world!</h1>
        <h2>
          Use the search bar to find a rad location on the map. <br>
          Use the street view to get the camera angle you want.
        </h2>
        <br>
        <br>
        <h3>
          When you've got it, click "challenge" to create a link to your spot. <br>
          Update the info and send the link to your friends!
        </h3>
        <br>
        <br>
      <button class='btn-primary' ng-click='infoToggle = !infoToggle'>Explore!</button>
    </div><!--challengeInfo-->
    <!-- Map container div contains map and searchbar -->
    <div class="smallmap">
      <map center="current-position" geo-fallback-center= "[52.1996161,0.1157753]">
          <street-view-panorama container="streetview" ng-click="updateInfo()"></street-view-panorama>
      </map>
      <!--search box-->
      <form ng-submit=updateToPlace(place) class="searchbar">
        <input places-auto-complete ng-model="place" class="form-control input-transparent">
      </form>
    </div>
    <div class="tostreetview" ng-click="scrollTo('streetview')">
      <span >
        <i class="fa fa-street-view" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <br><br>
        S<br>T<br>R<br>E<br>E<br>T<br><br>V<br>I<br>E<br>W<br><br>
        <i class="fa fa-street-view" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </span>
    </div>


    <!-- STreetview container div contains streetview and challenge a friend link div -->
    <div class="streetviewcontainer">
      <div id="streetview"></div>
      <!-- box for selecting challenge friend -->
      <div id="generatelinkpanelheading" >

        <span class="challengedescription">
          Find a rad location?  
          <a href ng-click="appear = !appear; updateInfo()">  Challenge a friend</a>
        </span>
      </div>


      <!-- box for entering city and POI and sharing location -->
      <div class="fade-in dissapear generatelinkpopup" ng-class="{'appear': appear, 'dissapear': !appear, 'fade-in': appear}">
        <div class="alert alert-warning" role="alert" ng-show="!showPOIAlert">
          Please provide a short description of location - e.g. "Eiffel Tower"
        </div>
        <div class="alert alert-danger" role="alert" ng-show="showPOIAlert">
          Please provide a short description of location - e.g. "Eiffel Tower"
        </div>
        <span>Point of Interest:</span>
        <span>
          <input ng-model="locationObj.poi" class="form-control" id="poi">
        </span>
        <br>
        <br>
        <div class="alert alert-warning" role="alert" ng-show="!showCityAlert">
          If city is not already listed, please provide the closest city to the point of interest.
        </div>
        <div class="alert alert-danger" role="alert" ng-show="showCityAlert">
         Please provide the closest city to the point of interest.
        </div>
        <span>City Name:</span> 
        <span>
          <input ng-model="locationObj.city" class="form-control" id="city">
        </span>
        <br>
        <br>
        <a href ng-click="validateInput()">Give me a link!  </a>

        <a href ng-click="appear=!appear" class="danger">Not yet...</a>
      </div>


      <!-- generated link box -->
      <div class="generatelinkpopup fade-in" ng-show="link">
        Here's your link!  Click to copy to clipboard, and share away. <br>
        <div class="specialtext btn-success" ngclipboard data-clipboard-text="Check out this awesome location! Can you guess where it is?  Play Parachute! {{link}}">{{link}}</div><br>
        <div>
          What's next? <br>
          <a class='option' href="/#/game">play the game </a>
          <br>
          <a class='option' href ng-click="link=null">create another challenge</a>
          <br>
          <a class='option' href="http://www.google.com">get me outta here!</a>
        </div>
      </div>
    </div> <!-- End of Streetview Container -->

    <div class="tomapview" ng-click="scrollTo('streetview', 2000)">
      <span >
        
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <br>
        <i class="fa fa-map" aria-hidden="true"></i>
        <br>
        <br>
        M<br>A<br>P<br><br>V<br>I<br>E<br>W<br><br>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <br>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <br>
        <i class="fa fa-map" aria-hidden="true"></i>
      </span>
    </div>
  </div><!--mapcontainer-->


<!-- <div class="fade-in dissapear generatelinkpopup" ng-class="{'appear': appear, 'dissapear': !appear, 'fade-in': appear}"> -->