<div class="container">
  <div ng-controller="mapController" class="mapThing">
    <div class="score">
      <div class="col-sm-3" ng-class="isUser ? 'hidden' : 'score'" ng-click="clearUser()"> <a href>  USER: </a>  {{ user.toUpperCase() }}   </div>
      <div class="col-sm-3">SCORE: {{count}}</div>
      <div class="highscore col-sm-4"> HIGHSCORE: {{ topScore.id }} {{ topScore.score }}</div>
    </div>

    <!--SHOWS WHEN NEW GAME IS STARTED VIA HOMEPAGE-->
    <div class='info' ng-show="infoToggle">
      <h1>Are you ready to jump?</h1>
      <h3>Click the button below to be dropped in a random location!
      <br>Know where you are? Make
      a guess by selecting an answer below the map.</h3> <h2>Wanna challenge
      a friend?</h2><h3>Head over to the challenge page!</h3>
      <br>
      <div ng-class="isUser ? 'userInfo' : 'hidden'">
        <form class="userform" name='userForm'>
          Enter initials to save score:
          <input type="text" maxlength="3" size="5" ng-model='userName' required>
          <button type="submit" class = 'btn-primary' ng-click='updateUserInfo(userName); StartGame()'>Jump!</button>
        </form>
      </div>
      
    </div>

    <!--SHOWS WHEN GAME IS STARTED VIA SHARED LINK-->
    <div class='info' ng-show="linkToggle">
      <h1>Are you ready to jump?</h1>
      <h3>Your friend has dropped you in a random location!
      <br>Know where you are? Make
      a guess by selecting an answer button below the map.</h3> <br> <h2>Wanna
      challenge your friend back?</h2><h3>Head over to the challenge page!</h3>
      <br>

      <div ng-class="isUser ? 'userInfo' : 'hidden'">
        <form name='userForm'>
          Enter initials to save score:
          <input type="text" maxlength="3" size="5" ng-model='userName' required>
        </form>
      </div>
      <br>
      <button class='btn-primary' ng-click='updateUserInfo(userName); StartGame()'>Jump!</button>

    </div>


    <div ng-class="toggle ? 'hidden' : 'correct'">
      <h1>Correct!</h1> <br> <h2> You were dropped near <br> {{poi}} <br> in <br> {{answer}}
      </h2>
      <h3 ng-hide="link">Hang tight. We are dropping you in a new location...</h3>
    </div>

    <div ng-class="incorrect ? 'hidden' : 'incorrect'">
      <h1>Incorrect!</h1> <br> <h2> That was <br> {{poi}} <br> in <br> {{answer}}
      </h2>
      <h3 ng-hide="link">Hang tight. We are dropping you in a new location...</h3>
    </div>

    <div class="displayoptions fade-in" ng-show="displayOptions">
      <h3>What's next?</h3>
      <br>
      <a class='option' href="/#/game">start new game</a> <br><br> 
      <a class='option' href="/#/challenge"> create a challenge</a> <br><br>
      <a class='option' href="http://www.google.com"> get me outta here!</a>
    </div>

    <map id="sv" street-view="StreetViewPanorama(document.querySelector('map#sv'), {position:new google.maps.LatLng({{lat}},{{lng}}), pov:{heading: {{heading}}, pitch: {{pitch}}}, addressControl: false, fullscreenControl: false, panControl: false, zoomControl: false, imageDateControl: false})"/>
    <div class="answers" ng-class="buttonToggle ? 'answers' :' hidden'">
        <div class="answer" align="center" ng-repeat="answer in answerChoices">
        <a href ng-class="buttonToggle ? 'optionButton' :' hidden'" ng-click="compareAnswer(this)">{{answer}}</a>

        </div>
        <div class="answer optionButton" id="hideanswers">
          <a href ng-click="hideAnswers()">Hide</a>
        </div>
    </div>
    <div id="showanswer"><a hfref ng-click="showAnswers()"> Show Answer Choices </a>><div>
    </map>
  </div>
</div>
